{% extends "base.html" %}

{% block editorlinks %}
<li><a href="{{ request.route_url('origfeed') }}" target="_blank">Original Feed</a></li>
<li><a href="{{ request.route_url('feed', viewid=viewid, feedformat='gr') }}" target="_blank">GR Level 3</a></li>
<li><a href="{{ request.route_url('feed', viewid=viewid, feedformat='truvu') }}">TruVu Max</a></li>
<li><a href="{{ request.route_url('feed', viewid=viewid, feedformat='json') }}" target="_blank">JSON</a></li>
{% endblock %}

{% block contentarea %}

<div class="row">
  <div class="col-md-4">
    <h3>Edit feed - {{ feedname }}</h3>
    <form method="post" action="{{ request.route_url('addname', id=id) }}" class="form-inline">
      <div class="form-group">
        <label for="name" class="sr-only">Name</label>
        <input type="text" name="name" id="name" placeholder="name[:translation]" class="form-control">
      </div>
      <button class="btn btn-primary" type="submit">Add Name</button>
    </form>
    <br>
    <ul class="list-group">
      {% for m in members %}
      <li class="list-group-item">
        <form method="post" action="{{ request.route_url('delname', id=id) }}">
            <button class="btn btn-xs btn-danger pull-right">X</button> {{ m.decode("utf-8") }}
            <input type="hidden" name="name" id="name" value="{{ m.decode('utf-8') }}">
        </form>
      </li>
      {% endfor %}
    </ul>
    <hr/>
    <ul>
      <li>Enter names to include in your feed. These are names in the text
      field, which is what is displayed on the map in GR Level 3 when viewing
      the full feed from spotter network.</li>
      <li>If you want to change the text you
      see on the map, enter a colon (:) and the text you want to replace the
      name with.</li>
      <li>Tip: use the original feed link at the top of the page to view the
      the full feed in your browser.  Use Ctrl+F (find) function of the browser
      to search for the names you need.</li>
      <li>Use the <button class="btn btn-xs btn-danger">X</button> to delete a
      name from the feed.</li>
      <li>Use the other links at the upper right to consume the filtered data.
      Right click and select and select "copy link location" on the GR Level 3
      link, then paste into your placefile manager in GR Level 3.</li>
      <li>If you intend to use the data for commercial purposes, you must
      contact spotter network and get permission!</li>
    </ul>
    <hr>
    <p>You can paste the following string as the nameslist argument to the
      snfilter-cli tool.</p>
    </thead>
    <pre><code>{{ nameslist }}</code></pre>
  </div>
  <div class="col-md-8">
    <h3>Sample Output</h3>
    <pre><code>
{{ output }}
    </code></pre>
  </div>
</div>

{% endblock %}
