{% extends "base.html" %}

{% block editorlinks %}
<li><a href="{{ request.route_url('origfeed') }}" target="_blank">Original Feed</a></li>
<li><a href="{{ request.route_url('feed', viewid=viewid, feedformat='gr') }}" target="_blank">GR Level 3</a></li>
<li><a href="{{ request.route_url('feed', viewid=viewid, feedformat='truvu') }}">TruVu</a></li>
<li><a href="{{ request.route_url('feed', viewid=viewid, feedformat='json') }}" target="_blank">JSON</a></li>
{% endblock %}

{% block contentarea %}

<div class="row">
  <div class="col-md-4">
    <h3>Edit feed - {{ feedname }}</h3>
    <p>
      Enter the names, to include in your feed.  These are names in the text
      field, which is what is displayed on the map in GR Level 3 when viewing
      the full feed from spotter network.  If you want to change the text you
      see on the map, enter a colon (:) and the text you want to replace the
      name with.
    </p>
    <form method="post" action="{{ request.route_url('addname', id=id) }}" class="form-inline">
      <div class="form-group">
        <label for="name" class="sr-only">Name</label>
        <input type="text" name="name" id="name" placeholder="name[:translation]" class="form-control">
      </div>
      <button class="btn btn-primary" type="submit">Add Name</button>
    </form>
    {% for m in members %}
      <form method="post" action="{{ request.route_url('delname', id=id) }}" class="form-inline">
        <div class="form-group">
          <button class="btn btn-xs btn-danger">X</button> {{ m.decode("utf-8") }}
          <input type="hidden" name="name" id="name" value="{{ m.decode('utf-8') }}">
        </div>
      </form>
    {% endfor %}
    <hr>
    <p>You can paste the following string as the nameslist argument to the
      snfilter-cli tool.</p>
    </thead>
    <pre><code>{{ nameslist }}</code></pre>
  </div>
  <div class="col-md-8">
    <h3>Sample Output</h3>
    <pre><code>
{{ output }}
    </code></pre>
  </div>
</div>

{% endblock %}
