{% extends "base.html" %}

{% block contentarea %}

<div class="row">
  <div class="col-md-4">
    <h2>Work flow</h2>
    <ul>
      <li>You create a new filter</li>
      <li>We pull the spotter network gibson ridge full positions feed periodically</li>
      <li>You pull the filtered feed you created in your GR Level 3 installation</li>
  </div>
  <div class="col-md-4">
    <h2>Is this reliable?</h2>
    <p>No, I don't promise this will always work. Maybe someday...</p>
  </div>
  <div class="col-md-4">
    <h2>Can anyone see or edit my filtered feed?</h2>
    <ul>
      <li>You can share your filtered feed with anyone</li>
      <li>Only those with the link to your feed editor page can change the feed</li>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p>If you're ok with this, then go ahead and make a feed!</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <form method="post" action="{{ request.route_url('createfeed') }}" class="form-inline">
      <div class="form-group">
        <label class="sr-only" for="feedname">Feed Name</label>
        <input type="text" class="form-control" name="feedname" id="feedname" placeholder="LIRA Spotters Only">
      </div>
      <button type="submit" class="btn btn-primary">Create Feed</button>
    </form>
  </div>
</div>

{% endblock %}
