{% extends "base.html" %}

{% block contentarea %}

<div class="row">
  <div class="col-md-4">
    <h2>Work flow</h2>
    <ul>
      <li>create a new filter</li>
      <li>bookmark the editor page for later edits</li>
      <li>add names to your filter</li>
      <li>copy/paste the filtered feed output link into your placefile manager in GR Level 3</li>
      <li>snfilterweb pulls the spotter network gibson ridge full positions feed periodically (default 1 min)</li>
      <li>your GR Level 3 installation pulls the filtered feed</li>
  </div>
  <div class="col-md-4">
    <h2>Notes</h2>
    <ul>
      <li>Don't rely on this for life and death situations</li>
      <li>This is a web interface built to make <a href="https://github.com/stephanellis/snfilter" target="_blank">this</a> easier to use.</li>
      <li>It's built using <a href="http:///www.python.org" target="_blank">python</a>,
        <a href="http://trypyramid.com" target="_blank">pyramid</a>,
        <a href="http://docs.python-requests.org/en/master/" target="_blank">requests</a>
        and <a href="http://redis.io" target="_blank">redis</a>.
      </li>
      <li>Hopefully noone at spotter network will find this anoying, although they shouldn't because it should reduce load on their application.</li>
      <li>The data belongs to spotter network</li>
    </ul>
  </div>
  <div class="col-md-4" id="statsdiv">
    {% include "stats.html" %}
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p>If you're ok with this, then go ahead and make a feed!</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <form method="post" action="{{ request.route_url('createfeed') }}" class="form-inline">
      <div class="form-group">
        <label class="sr-only" for="feedname">Feed Name</label>
        <input type="text" class="form-control" name="feedname" id="feedname" placeholder="LIRA Spotters Only">
      </div>
      <button type="submit" class="btn btn-primary">Create Feed</button>
    </form>
  </div>
</div>
{% endblock %}

{% block extrascripts %}
<script>
$(document).ready(function() {
(function worker() {
  $.ajax({
    url: '{{ request.route_url("stats") }}',
    success: function(data) {
      $('#statsdiv').html(data);
    },
    complete: function() {
      // Schedule the next request when the current one's complete
      setTimeout(worker, 60000);
    }
  });
})();
});
</script>
{% endblock %}
