{% extends "base.html" %}

{% block contentarea %}

<div class="row">
  <div class="col-md-4">
    <h2>How it works</h2>
    <ul>
      <li>You create a new filter</li>
      <li>We pull the spotter network gibson ridge full positions feed once a minute</li>
      <li>You pull the filtered feed you created in your GR Level 3 installation</li>
  </div>
  <div class="col-md-4">
    <h2>Is this reliable?</h2>
    <p>No, I don't promise this will always work. Maybe someday...</p>
  </div>
  <div class="col-md-4">
    <h2>Can anyone see or edit my filtered feed?</h2>
    <ul>
      <li>You can share your filtered feed with anyone</li>
      <li>Only those with the link to your feed editor page can change the feed</li>
  </div>
</div>

<div class="row">
  <divl class="col-md-12">
    <p>If you're ok with this, then go ahead and make a feed!</p>
  </div>
</div>

{% endblock %}
