<h2>Stats</h2>
<ul class="list-group">
  <li class="list-group-item"><span class="badge">{{ request.snfstats.snfeedhits }}</span>pulled from spotter network</li>
  <li class="list-group-item"><span class="badge">{{ request.snfstats.orighits }}</span>served the original spotter network feed</li>
  <li class="list-group-item"><span class="badge">{{ request.snfstats.totalfeeds}}</span>filtered feeds created</li>
  <li class="list-group-item"><span class="badge">{{ request.snfstats.totalhits }}</span>filtered feed hits</li>
  <li class="list-group-item"><span class="badge">{{ request.snfstats.uniqueips }}</span>unique ip hits</li>
</ul>
